.navbar{
    background-color: rgb(173, 201, 180);
}

.quem-somos{
    background-color: rgb(188, 214, 208);
    color:aliceblue
}

.margin{
    padding-top: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgb(255, 255, 255);
}
.bg-foot{
    background-color: rgb(92, 146, 190);
}